body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

#video {
    z-index: -4;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

h2 {
    font-size: 8em;
    font-weight: 900;
    position: relative;
    width: 100%;
 
}

h2 img{
    margin-top: -100px;
    width: 100%;
    height: auto;
    overflow: hidden;
 
}

.container-1{
    margin-top: 200px;
    height: 10000px;
    background-color: black;
    position: relative;
    color: aqua;
}

.button-scroll{
    position: absolute;

}

.head{
    color:aqua;
    z-index: 5;
    position: fixed;
}


@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    #video{
        height: 100vh;
        width: auto;
        overflow-x: hidden;
    }

    h2 img{
        top: 0;
        margin-top: -350px;
        width: 130%;
        height: auto;
        margin-left: -18%;
    }

    .container-1{
        margin-top: -300px;
        z-index: 4;
        overflow-x: hidden;
    }
}