@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Cinzel&family=Quicksand:wght@300&display=swap');
body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    
}

#video {
    z-index: -4;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

h2 {
    font-size: 8em;
    font-weight: 900;
    position: relative;
    width: 100%;
 
}

h2 img{
    margin-top: -100px;
    width: 101%;
    height: auto;
    overflow: hidden;
    margin-left: -1px;
   
 
}

.container-1{
    margin-top: 200px;
    height: 500px;
    background-color: black;
    position: relative;
    color: aqua;
}

.theme{
    height: 500px;
    background-color: black;
    position: relative;
    width: 100%;
}
.text{
    font-size: 5rem;
    color: #fff;
    top: 30%;
    position: relative;
    left: 14%;
    font-family: 'Quicksand', serif;
    font-weight: 700;
}

.img{
    position: absolute;
    background-color: aquamarine;
    border-radius: 15px;
}

.img1{
    top: 42%;
    left: 0%;
    width: 20vw;
    height: 30vh;
    transform: rotate(-5deg) translate(-50%, 0%);
}

.img2{
    top: -5%;
    left: 30%;
    width: 20vw;
    height: 20vh;
    transform: rotate(-2deg) translate(-50%, 0%);
}

.img3{
    top: 30%;
    left: 65%;
    width: 17%;
    height: 18%;
    transform: rotate(2deg) translate(-50%, 0%);
}

.img4{
    top: 63%;
    left: 95%;
    width: 20%;
    height: 30%;

}



.button-scroll{
    position: absolute;

}

.head{
    color:aqua;
    z-index: 5;
    position: fixed;
}


@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    #video{
        height: 100vh;
        width: auto;
        overflow-x: hidden;
    }

    h2 img{
        top: 0;
        margin-top: -350px;
        width: 130%;
        height: auto;
        margin-left: -18%;
    }

    .container-1{
        margin-top: -300px;
        z-index: 4;
        overflow-x: hidden;
    }
    .container{
        width: 100vw;
        overflow-x: hidden;
    }
    .img{
        display: none;
    }
}